/* Landing page styles*/
#index-background {
    background-image: url('/images/A_0002_Seite_10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#index-content {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
    max-width: 85ch;
    overflow-wrap: break-word;
}

/*Footer styles*/
.logo {
    width: 100%;
    max-width: 200px;
}

a.helpdesk-button {
    display: block;
    background-color: #fff;
    border: 1px solid black;
    ;
    border-radius: 20px;
    padding: .25rem 1.25rem;
    font-size: .8rem;
    font-weight: 600;
    color: black;
    max-width: 16rem;
    transition: background-color ease .2s, color ease .2s;
}

p.link-in-footer a:link {
    color: black;
    text-decoration: none;
}

/*Edition page styles*/

#container-resize {
    justify-content: center;
}

div.make-box-for-page {
    border-bottom: 1pt black solid;
}

p.paragraph-for-page-break {
    text-align: right;
}

p.paragraph-main-text {
    margin: 1rem;
}

p.fc {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-width: 900px;
    margin-left: auto;
}

/*approximate navbar height offset for scrolling*/
.pb {
    scroll-margin-top: 50px;
}

/*display expansion when slider is off*/
.choice:not(.choice-on)>.abbr {
    display: none;
}

.choice-on>.abbr {
    display: inline;
}

/* abbreviation when slider is on */
.choice-on>.expan {
    display: none;
}

.choice:not(.choice-on)>.expan {
    display: inline;
}

/* needed for interactive map in listplace.xsl */
div#map {
    height: 50vh;
}

mark{
    background: orange;
    color: black;
}

/*offset for jumping to page*/
:target {
    scroll-margin-top: 60px;
}



/* Small devices */
@media (max-width: 576px) {
    .badge {
        font-size: 1rem;
    }
}

/* Medium devices*/

@media (max-width: 768px) {
    .badge {
        font-size: 1.2rem;
    }

    /*override max-width set by de-micro-editor for smaller screens*/
    #img-resize,
    #text-resize {
        max-width: 100% !important;
    }
}

/* Large devices */
@media (min-width: 769px) {
    .badge {
        font-size: 1.4rem;
    }
}


mark{
    background: orange;
    color: black;
}